# ---General---
# MiniMessage-formatted prefix (https://docs.advntr.dev/minimessage/format.html)
prefix: <dark_gray>[<green>Chat<white>-<dark_red>OG<dark_gray>]

# ---Redis---
redisUrl: 127.0.0.1:6379

# ---OpenAI---
# Any OpenAI-like (OpenAI, ollama, llama.cpp) API will work here
# openAIEnabled will implicitly disable Argos-Translate
openAIEnabled: false
# Will be used as: <baseurl>/v1/...
baseUrl: http://127.0.0.1:8080
apiKey: verySecretKey
# The name of the model. This isn't always required, for example with the llama-server "example" from llama.cpp
model: ""

# ---Discord---
# discordEnabled needs to be true for staffDiscordEnabled and premiumDiscordEnabled to have any effect
discordEnabled: false
staffDiscordEnabled: false
premiumDiscordEnabled: false
status: Minecraft
serverHasStartedMessage: The server has started
serverHasStoppedMessage: The server has stopped
botToken: <put the bot token here>
guildId: <put the id of the guild here>
channelId: <put the id of the channel here>
staffChannelId: <put the id of the channel here>
premiumChannelId: <put the id of the channel here>
webhook: <put the webhook here>
staffWebhook: <put the webhook here>
premiumWebhook: <put the webhook here>
listCommandName: list
# Available placeholders: %onlineplayers%, %maxplayers%
listCommandText: "%onlineplayers% player(s) online:"

# Configure which roles can use color codes with Discord -> Minecraft
# For example:
#
# colorCodeRoles: [1234567891234567890, 0987654321987654321]

# Configure the text color (after the username (Discord -> Minecraft)) for certain roles
# For example:
#
# roles:
#     1234567891234567890:
#         message_color: RED
#
# message_color can be one of these: BLACK, DARK_BLUE, DARK_GREEN, DARK_AQUA, DARK_RED, DARK_PURPLE, GOLD, GRAY, DARK_GRAY, BLUE, GREEN, AQUA, RED, LIGHT_PURPLE, YELLOW, WHITE
#
# You can also use RGB for the color:
#
# roles:
#     1234567891234567890:
#         message_color: [255, 255, 255]
